{% extends 'base.html' %}
{% block content %}
    <div class="header">
        <h1>DB2 Limited test task</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'account_login' %}">Login</a>
        {% endif %}
    </div>
    <div class="wrapper">
        <div class="post">
            <div class="post-title">
                {{ post.title }}
            </div>
            <div class="post-body">
                {{ post.body }}
            </div>
            <div class="post-image-div">
                <img class="post-image" src="{{ post.image.url }}">
            </div>
            <div class="post-author">
                Published by: {{ post.author.email }}. <br>
                From: {{ post.author.country }}, {{ post.author.city }}. <br>
                Born: {{ post.author.date_of_birth }} <br>
                Is staff: {{ post.author.is_staff }}
            </div>
            <div class="post-like" id="{{ post.id }}">
                <button class="like-btn btn btn-default" name="likebtn">Like &#128077;</button>
                <div class="likes-count">
                    Likes: {{ post.likers.all.count }}
                </div>
            </div>
        </div>
        <hr>
        {% if comments %}
        <div class="comments">
            <h2>Comments:</h2>
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-body">
                    {{ comment.body }}
                </div>
                <div class="comment-date">
                    {{ comment.publication_date }}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <ul class="pagination">
            {% if comments.has_previous %}
                <li><a href="?page={{ comments.previous_page_number }}">{{ comments.previous_page_number }}</a></li>
            {% endif %}
                <li><a href="?page={{ comments.number }}">{{ comments.number }}</a></li>
            {% if comments.has_next %}
                <li><a href="?page={{ comments.next_page_number }}">{{ comments.next_page_number }}</a></li>
            {% endif %}
        </ul>
        {% endif %}
        </div>
{% endblock %}